{% extends "layout.html.twig" %}

{% block title %}Ajouter une figure{% endblock %}
{% block content %}
    <div class="container w-25 mt-3 mb-5">
        <div class="row">
            {{ form_start(form) }}
                {{ form_row(form.category) }}
                {{ form_row(form.image) }}
                {{ form_row(form.title) }}
                {{ form_row(form.contents) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.published) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}