{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{# Used to add information to the header in addition to that contained in the base template header
{% block head %}
    {{ parent() }}
{% endblock %}
#}
{% block content %}
    <div class="imgHome"><img src="/img/Snowboard-scaled.jpg" alt="imgHome" /></div>
    <div class="container p-5">
        <h3>Liste des figures de snowboard</h3>
        <div class="home mb-5">
            {% for trick in tricks %}
                <div id="trick-{{ trick.getId }}">
                    <a href="/trick/{{ trick.getSlug|e }}-{{ trick.getId }}">
                        <img src="{{ trick.getImage.getUrl }}" alt="img" />
                    </a>
                    <div>
                        <span><a href="/trick/{{ trick.getSlug|e }}-{{ trick.getId }}">{{ trick.getTitle }}</a></span>
                        <span class="editImg text-center mt-4"><a href="/trick/edit/{{ trick.getSlug|e }}-{{ trick.getId }}"><i class="fa fa-pencil"></i></a></span>
                        <span class="removeTrick text-center mt-4" data-route="{{ path('app_trick_delete', {'id':trick.getId}) }}" data-id="{{ trick.getId }}"><i class="fa fa-trash"></i></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{# Used to add information to the footer in addition to that contained in the base template footer
{% block footer %}
    {{ parent() }}
{% endblock %}
#}
