<!DOCTYPE html>
<html lang="fr">
	<head>
        {% block head %}
            <!-- Meta -->
            <meta charset="UTF-8" />
            <meta name="description" content="Site collaboratif SnowTricks" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link href="favicon.ico" rel="icon" type="image/ico" />
            <title>SnowTricks | {% block title %}{% endblock %}</title>
            <!-- Main CSS theme (includes Bootstrap) -->
            {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
            <!-- Custom CSS -->
            <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
        {% endblock %}
	</head>
    <body>
        <!-- HEADER -->
        {% block header %}
            <header>
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <div class="navbar-header col-md-3 col-lg-2">
                            <a class="navbar-brand" href="{{ path('app_home_page') }}">SnowTricks</a>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarToggler">
                            <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a href="{{ path('app_index_page') }}" class="nav-link">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_tricks') }}" class="nav-link">Figures</a>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_trick_add') }}" class="nav-link">Ajouter une figure</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <ul class="navbar-nav flex-row">
                                    <li class="nav-item"><a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="nav-link">Mon compte</a></li>
                                    <li class="nav-item ps-1">|</li>
                                    <li class="nav-item ps-1"><a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a></li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}
		<!-- MAIN CONTENT -->
		<main>
            {% block content %}{% endblock %}
		</main>
        <!-- FOOTER -->
        {% block footer %}
		    <footer class="fixed-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} - <a href="mailto:contact@llemaitre.com">Ludovic LEMAÎTRE</a>. {{ 'All rights reserved'|trans }}</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        <!-- Bootstrap JS -->
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
        <!-- Custom JS -->
        <script src="/js/main.js"></script>
    </body>
    {% include "_toasts.html.twig" %}
</html>
